.heading {
  color: #2e5b97;
  font-size: 3.2rem;
}

.wrapper {
  margin-top: 12px;
}

button {
  outline: none;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  color: #000;
  border-radius: 4px;
}

.btn {
  margin-right: 8px;
}
